# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages used by Data Scientists include:

1. Python 
2. R
3. SQL 
4. Java
5. C++

Some of the commonly used libraries by Data Scientists include: 

1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn
5. Scikit-learn

| Data Science Tools   |
|----------------------|
| Jupyter Notebook      |
 | RStudio              |
| Anaconda             |
| Spyder               |
| Apache Zeppelin      |
 |
   |
ns |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [88]:
#This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [90]:
#This will convert 200 minutes to hours by dividing by 60
200//60

3

**Objectives:**
- Add comments to the code cells
- Create markdown cells
- Add ordered and unordered lists to markdown cells
- Format content of markdown cells with heading styleshods.

## Author

Rakshit Mehra